.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-image: url('../img/rdr2.background.png'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    padding-bottom: 0px;

  }

  .logo {
    height: 20px; 
    margin-right: 5px; 
    vertical-align: middle;
  }
 
  .main-image {
    max-width: 60%;
    height: 100vh;
    max-height: 60%;
    margin-right: 30px;
  }
  
  .text-container {
    width: 50%;
    text-align: left;
    color: white;
  }
  
  .main-title {
    width: 100%;
    height: auto;
    max-height: 215px;
    margin-bottom: 15px;
  }
  
  .main-subtitle {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    font-family: Public Sans, sans-serif;
  }
  
  .main-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .main-links a {
    display: inline-block;
    padding: 12px 24px;
    margin: 0 10px; 
    background-color: #e84c3d;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .main-links a:hover {
    background-color: #c0392b;
  }
  
  .main-links a:nth-child(2), 
  .main-links a:nth-child(3),
  .main-links a:nth-child(4) {
    background-color: transparent;
    color: rgb(181, 181, 181);
    font-weight: normal;
    text-transform: none;
  }
  
  .main-links a:nth-child(2):hover,
  .main-links a:nth-child(3):hover,
  .main-links a:nth-child(4):hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center;
    }
  
    .main-image,
    .text-container {
      width: 100%;
      margin: 0;
    }
  
    .main-image {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .main-title {
      height: 80px;
    }

    .main-image {
        max-width: 100%;
        height: auto;
        max-height: 50%;
    }
  
    .main-subtitle {
      font-size: 1rem;
    }
    
  }
  